<h1>New Product</h1>

<%= form_with scope: :product, url: products_path, local: true do |form| %>

  <div class="field">
    <%= form.label :category %><br />
    <%= form.select :cid, options_from_collection_for_select(Category.all, :id, :name) %>
  </div>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>